---
layout: default
---

{{ content }}
{{ "Words",page.content | number_of_words }}
{{ "中文字数"，content | strip_html | strip_newlines | split: "" | size }}
{% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

	 {% if page.categories.size > 0 %}
		  <div class="blog-tags">
		  Category：
		{% if post %}
			{%assign categories = post.categories %}
		{% else %}
			{%assign categories = page.categories %}
		{% endif %}
		{% for category in categories %}
			<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
			{% unless forloop.last %}&nbsp;{% endunless %}
			{% endfor %}
		</div>
	{% endif %}
